*
{
  box-sizing: border-box;


}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.flex-direction-column{flex-direction:column;}

.bg-darkblue{
  background-color: darkblue;
}

.cursor-pointer{
  cursor: pointer;
}

.view-more{
  width: 20%;
}

.mw-75{
  max-width: 75%;
}

.w-33{
  width: 33%;
}

.w-30{
  width: 30%;
}


.bg-red{
  background-color: red;
}

.bg-orange{
  background-color: orange;
}

.bg-yellow{
  background-color: yellow;
}

.bg-green{
  background-color: green;
}

.bg-blue{
  background-color: blue;
}

.bg-indigo{
  background-color: indigo;
}

.bg-violet{
  background-color: violet;
}


@media screen and ( width <= 769px){

  .flex-direction-column-sm{flex-direction:column;}
  .view-more{
    width: 100%;
  }
  
}